### Задание 1
Построить персептрон с простейшим алгоритмом конкурентного обучения

In [1]:
import numpy as np
from pandas import Series, DataFrame
from NeuronWTA import Neuron
import math

In [2]:
rate = 0.5
n = 320
ns = list((Neuron(0), Neuron(1), Neuron(2), Neuron(3)))
xs = DataFrame([(0.97, 0.20), (1.00, 0.00), (-0.72, 0.70), (-0.67, 0.74), (-0.80, 0.60), (0.00, -1.00), (0.20, -0.97), (-0.30, -0.95)])
ws = DataFrame([[np.random.randn() for i in range(ns.__len__())], [np.random.randn() for i in range(ns.__len__())]]).T
save_ws = ws.copy()

In [3]:
xs

      0     1
0  0.97  0.20
1  1.00  0.00
2 -0.72  0.70
3 -0.67  0.74
4 -0.80  0.60
5  0.00 -1.00
6  0.20 -0.97
7 -0.30 -0.95

In [4]:
ws

          0         1
0  0.237139 -1.573912
1  1.725612 -0.904849
2 -0.583550  0.164423
3  0.740955  0.932276

In [5]:
for i in range(n):  # iter of train set
    for j in range(8):  # iter of train sample
        d = []  # last indu fields
        for k in range(len(ns)):  # iter of neurons
            ns[k].set_indu_method(xs, ws, j)
            d.append(ns[k].last_indu)  # find indu_field for neurons
        data = Series(d)
        idx = data.idxmax()  # index of max element (Winner Neuron)
        new_w1 = ws.iloc[idx][0] + rate * (xs.iloc[j][0] - ws.iloc[idx][0])
        new_w2 = ws.iloc[idx][1] + rate * (xs.iloc[j][1] - ws.iloc[idx][1])
        ws.iloc[idx][0] = new_w1
        ws.iloc[idx][1] = new_w2

In [6]:
ws

          0         1
0 -0.114286 -0.962857
1  0.990000  0.066667
2 -0.751429  0.654286
3  0.740955  0.932276

### Задание 2
Каждый нейрон может обучаться не более 10 раз подряд, после чего он становится в режим ожидания
на следующие 10 итераций

In [7]:
save_ws

          0         1
0  0.237139 -1.573912
1  1.725612 -0.904849
2 -0.583550  0.164423
3  0.740955  0.932276

In [8]:
for i in range(n):  # iter of train set
    for j in range(8):  # iter of train sample
        d = []  # last indu fields
        for k in range(len(ns)):  # iter of neurons
            ns[k].set_indu_method(xs, save_ws, j)
            if ns[k].canLearning:
                d.append(ns[k].last_indu)  # find indu_field for neurons
            else:
                d.append(-9999)  # if Neuron can`t learn then (indu = -9999)
        data = Series(d)
        idx = data.idxmax()  # index of max element (Winner Neuron)
        if ns[idx].canLearning:
            ns[idx].add_count_learn()
            new_w1 = save_ws.iloc[idx][0] + rate * (xs.iloc[j][0] - save_ws.iloc[idx][0])
            new_w2 = save_ws.iloc[idx][1] + rate * (xs.iloc[j][1] - save_ws.iloc[idx][1])
            save_ws.iloc[idx][0] = new_w1
            save_ws.iloc[idx][1] = new_w2
        else:
            ns[idx].take_delay()

In [9]:
save_ws

          0         1
0 -0.174703 -0.775599
1  0.829109 -0.060891
2 -0.702775  0.708332
3 -0.340791  0.510065

In [10]:
ws

          0         1
0 -0.114286 -0.962857
1  0.990000  0.066667
2 -0.751429  0.654286
3  0.740955  0.932276

### Задание 3
Построить стандартный персептрон Хебба с двумя нейронами

In [11]:
def sigmoid(indu):
    return math.tanh(indu)

rate = 0.5
n = 320
ns = list((Neuron(0), Neuron(1)))
xs = DataFrame([(0.97, 0.20), (1.00, 0.00), (-0.72, 0.70), (-0.67, 0.74), (-0.80, 0.60), (0.00, -1.00), (0.20, -0.97), (-0.30, -0.95)])
ws = DataFrame([[np.random.randn() for i in range(ns.__len__())], [np.random.randn() for i in range(ns.__len__())]]).T

In [12]:
ws

          0         1
0 -0.813210  0.528047
1 -1.233586 -1.363174

In [13]:
for i in range(n):  # iter of train set
    for j in range(8):  # iter of train sample
        d = []  # last indu fields
        for k in range(len(ns)):  # iter of neurons
            ns[k].set_indu_method(xs, ws, j, is_sigmoid=True)
            d.append(ns[k].last_indu)  # find indu_field for neurons
        data = Series(d)
        idx = data.idxmax()  # index of max element (Winner Neuron)
        new_w1 = ws.iloc[idx][0] + rate * xs.iloc[j][0] * data[idx]
        new_w2 = ws.iloc[idx][1] + rate * xs.iloc[j][1] * data[idx]
        ws.iloc[idx][0] = new_w1
        ws.iloc[idx][1] = new_w2

In [14]:
ws

            0           1
0 -649.180050  295.800917
1  -34.038706 -469.335335