In [88]:
import numpy as np
import pandas as pd
import matplotlib as plt
from pandas import Series, DataFrame
from NeuronWTA import Neuron


rate = 0.5
n = 320
ns = list((Neuron(0), Neuron(1), Neuron(2), Neuron(3)))
xs = DataFrame([(0.97, 0.20), (1.00, 0.00), (-0.72, 0.70), (-0.67, 0.74), (-0.80, 0.60), (0.00, -1.00), (0.20, -0.97), (-0.30, -0.95)])
ws = DataFrame({ 0: [np.random.rand(), np.random.rand(), np.random.rand(), np.random.rand()],
                 1: [np.random.rand(), np.random.rand(), np.random.rand(), np.random.rand()]})

In [89]:
xs

      0     1
0  0.97  0.20
1  1.00  0.00
2 -0.72  0.70
3 -0.67  0.74
4 -0.80  0.60
5  0.00 -1.00
6  0.20 -0.97
7 -0.30 -0.95

In [90]:
ws

          0         1
0  0.071086  0.719219
1  0.172404  0.682468
2  0.899372  0.916588
3  0.614334  0.015136

In [91]:
ns

[<NeuronWTA.Neuron at 0x1b9557013a0>,
 <NeuronWTA.Neuron at 0x1b9557015b0>,
 <NeuronWTA.Neuron at 0x1b955701a60>,
 <NeuronWTA.Neuron at 0x1b955701970>]

In [92]:
for i in range(n):  # iter of train set
    for j in range(4):  # iter of train sample
        data = []
        for k in range(len(ns)):  # iter of neurons
            ns[k].set_indu_method(xs, ws, j)  # find indu_field for neurons
            data.append(ns[k].last_ind)
        datas = Series(data)  # indu_fields of train
        ind = datas.index[datas == datas.max()]  #
        for k in range(len(ns)):  # iter of neurons
            if ns[k].last_ind == datas.values[ind]:
                id_ne = ns[k].id_ne  # id winner neuron
                new_w1 = ws.iloc[id_ne][0] + rate * (1 - ws.iloc[id_ne][0])
                new_w2 = ws.iloc[id_ne][1] + rate * (1 - ws.iloc[id_ne][1])
                ws.iloc[id_ne][0] = new_w1
                ws.iloc[id_ne][1] = new_w2
            else:
                id_ne = ns[k].id_ne  # id looser neuron
                new_w1 = ws.iloc[id_ne][0] + rate * (0 - ws.iloc[id_ne][0])
                new_w2 = ws.iloc[id_ne][1] + rate * (0 - ws.iloc[id_ne][1])
                ws.iloc[id_ne][0] = new_w1
                ws.iloc[id_ne][1] = new_w2

In [93]:
ws

          0         1
0  0.000916  0.000916
1  0.014649  0.014649
2  0.234379  0.234379
3  0.750057  0.750057